# Node.js
node_modules/

# npm
*.log
npm-debug.log*

# local env.
.env.local
.env.development.local
.env.test.local
.env.production.local

# DB files
*.sqlite
*.db

# Local Files
.DS_Store
node_modules

cache/
development/
# Visual Studio Code
.vscode/

# Visual Studio
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


.cache/
development


